/* .App {
 background-color: grey
} */
body{
  background-color: rgba(254, 254, 254, 0.619);
  font-family: Arial, Helvetica, sans-serif
}
#nav-items-container{
 display: flex;
 flex-direction: row;
}

thead{
  background-color: black;
  color: white;
}

#navbar{
  margin: 0;
  background-color: blue;

}

#nav-items-container > div > a{
  text-decoration: none; color: rgb(230, 229, 229);
}

.deemphasized-col{
  font-weight: normal
}

.emphasized-col{
  color: blue;
}

#data-container{
  padding: 10px;
  margin-top: 30px;
  font-weight: bold;
  background-color: #f9f9f9;
  /* border-top: 1px solid rgb(189, 189, 189);
  border-bottom: 1px solid  rgb(189, 189, 189); */

}
#data-container > div {
  margin: 3px;
}

.footer-row{
  display: flex;
  padding-left: 10px;
}
.footer-row > div{
  margin-right: 5px;
}
#tips{
  flex-direction: column;
}
#tips > .tip{
  /* margin-left: 30px; */

}

.footer-bottom{
  margin-top: 70px;
  font-size: 15px;
}

.go-right{
  /* margin-left: 100px; */
}



/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

